<div class="text-danger field-validation-error" id="validation-summary"></div>
<div class="form-group">
    <label class="col-form-label">Year</label>
    <input class="form-control" id="year" type="number" value="1920" min="1920" />
    <span class="text-danger field-validation-error" id="validation-for-year"></span>
</div>
<div class="form-group">
    <label class="col-form-label">Weeks Scheduled</label>
    <input class="form-control" id="weeks-scheduled" type="number" value="0" min="0" />
    <span class="text-danger field-validation-error" id="validation-for-weeks-scheduled"></span>
</div>
<div class="form-group">
    <label class="col-form-label">Weeks Completed</label>
    <input class="form-control" id="weeks-completed" type="number" value="0" min="0" max="0" />
    <span class="text-danger field-validation-error" id="validation-for-weeks-completed"></span>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
