﻿@page "{id:int}"

@{
    ViewData["Title"] = "Delete Season";
}

<h1>Season</h1>

<h4>Delete</h4>
<hr />
<div id="season">
    <h3>Are you sure you want to delete this?</h3>
    <script id="season-details" type="text/x-handlebars-template">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Year</label>
            </dt>
            <dd class="col-sm-10">
                {{year}}
            </dd>
            <dt class="col-sm-2">
                <label>Weeks Scheduled</label>
            </dt>
            <dd class="col-sm-10">
                {{numOfWeeksScheduled}}
            </dd>
            <dt class="col-sm-2">
                <label>Weeks Completed</label>
            </dt>
            <dd class="col-sm-10">
                {{numOfWeeksCompleted}}
            </dd>
        </dl>
    </script>
</div>

<form method="delete">
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-secondary" asp-page="Index">Cancel</a>
    </div>
</form>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/seasons/delete.js"></script>
