﻿@page "{id:int}"

@{
    ViewData["Title"] = "Season";
}

<h1>@ViewData["Title"]</h1>

<h4>Details</h4>
<hr />
<div id="season">
    <script id="season-details" type="text/x-handlebars-template">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Year</label>
            </dt>
            <dd class="col-sm-10">
                {{year}}
            </dd>
            <dt class="col-sm-2">
                <label>Weeks Scheduled</label>
            </dt>
            <dd class="col-sm-10">
                {{numOfWeeksScheduled}}
            </dd>
            <dt class="col-sm-2">
                <label>Weeks Completed</label>
            </dt>
            <dd class="col-sm-10">
                {{numOfWeeksCompleted}}
            </dd>
        </dl>
        <p>
            <a class="btn btn-primary" href="/Seasons/Edit/{{id}}">Edit</a>
        </p>
    </script>
</div>
<p>
    <a asp-page="Index">Back to List</a>
</p>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/seasons/details.js"></script>
