@page

@{
    ViewData["Title"] = "Seasons";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-right">
                <label>Year</label>
            </th>
            <th class="text-right">
                <label>Weeks Scheduled</label>
            </th>
            <th class="text-right">
                <label>Weeks Completed</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="seasons-body">
        <script id="season-row" type="text/x-handlebars-template">
            {{#each seasons}}
            <tr>
                <td class="text-right">
                    {{year}}
                </td>
                <td class="text-right">
                    {{numOfWeeksScheduled}}
                </td>
                <td class="text-right">
                    {{numOfWeeksCompleted}}
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Seasons/Details/{{id}}">Details</a>
                    <a class="btn btn-primary btn-sm" href="/Seasons/Edit/{{id}}">Edit</a>
                    <a class="btn btn-primary btn-sm" href="/Seasons/Delete/{{id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </script>
    </tbody>
</table>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/seasons/index.js"></script>
