﻿@page "{id:int}"

@{
    ViewData["Title"] = "Delete League";
}

<h1>League</h1>

<h4>Delete</h4>
<hr />
<div id="league">
    <h3>Are you sure you want to delete this?</h3>
    <script id="league-details" type="text/x-handlebars-template">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Long Name</label>
            </dt>
            <dd class="col-sm-10">
                {{longName}}
            </dd>
            <dt class="col-sm-2">
                <label>Short Name</label>
            </dt>
            <dd class="col-sm-10">
                {{shortName}}
            </dd>
            <dt class="col-sm-2">
                <label>First Season</label>
            </dt>
            <dd class="col-sm-10">
                {{firstSeasonYear}}
            </dd>
            <dt class="col-sm-2">
                <label>Last Season</label>
            </dt>
            <dd class="col-sm-10">
                {{lastSeasonYear}}
            </dd>
        </dl>
    </script>
</div>

<form method="delete">
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-secondary" asp-page="Index">Cancel</a>
    </div>
</form>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/leagues/delete.js"></script>
