﻿@page "{id:int}"

@{
    ViewData["Title"] = "League";
}

<h1>@ViewData["Title"]</h1>

<h4>Details</h4>
<hr />
<div id="league">
    <script id="league-details" type="text/x-handlebars-template">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Long Name</label>
            </dt>
            <dd class="col-sm-10">
                {{longName}}
            </dd>
            <dt class="col-sm-2">
                <label>Short Name</label>
            </dt>
            <dd class="col-sm-10">
                {{shortName}}
            </dd>
            <dt class="col-sm-2">
                <label>First Season</label>
            </dt>
            <dd class="col-sm-10">
                {{firstSeasonYear}}
            </dd>
            <dt class="col-sm-2">
                <label>Last Season</label>
            </dt>
            <dd class="col-sm-10">
                {{lastSeasonYear}}
            </dd>
        </dl>
        <p>
            <a class="btn btn-primary btn-sm" href="/Leagues/Edit/{{id}}">Edit</a>
        </p>
    </script>
</div>
<p>
    <a asp-page="Index">Back to List</a>
</p>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/leagues/details.js"></script>
