﻿@page

@{
    ViewData["Title"] = "Create Game";
}

<h1>Game</h1>

<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <partial name="_EditPartial" />
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/games/create.js"></script>
