﻿@page "{id:int}"

@{
    ViewData["Title"] = "Game";
}

<h1>@ViewData["Title"]</h1>

<h4>Details</h4>
<hr />
<div id="game">
    <script id="game-details" type="text/x-handlebars-template">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Season</label>
            </dt>
            <dd class="col-sm-10">
                {{seasonYear}}
            </dd>
            <dt class="col-sm-2">
                <label>Week</label>
            </dt>
            <dd class="col-sm-10">
                {{week}}
            </dd>
            <dt class="col-sm-2">
                <label>Guest</label>
            </dt>
            <dd class="col-sm-10">
                {{guestName}}
            </dd>
            <dt class="col-sm-2">
                <label>Guest Score</label>
            </dt>
            <dd class="col-sm-10">
                {{guestScore}}
            </dd>
            <dt class="col-sm-2">
                <label>Host</label>
            </dt>
            <dd class="col-sm-10">
                {{hostName}}
            </dd>
            <dt class="col-sm-2">
                <label>Host Score</label>
            </dt>
            <dd class="col-sm-10">
                {{hostScore}}
            </dd>
            <dt class="col-sm-2">
                <label>Winner</label>
            </dt>
            <dd class="col-sm-10">
                {{winnerName}}
            </dd>
            <dt class="col-sm-2">
                <label>Winner Score</label>
            </dt>
            <dd class="col-sm-10">
                {{winnerScore}}
            </dd>
            <dt class="col-sm-2">
                <label>Loser</label>
            </dt>
            <dd class="col-sm-10">
                {{loserName}}
            </dd>
            <dt class="col-sm-2">
                <label>Loser Score</label>
            </dt>
            <dd class="col-sm-10">
                {{loserScore}}
            </dd>
            <dt class="col-sm-2">
                <label>Is Playoff?</label>
            </dt>
            <dd class="col-sm-10">
                <input id="is-playoff" type="checkbox" disabled="disabled" />
            </dd>
            <dt class="col-sm-2">
                <label>Notes</label>
            </dt>
            <dd class="col-sm-10">
                {{notes}}
            </dd>
        </dl>
        <p>
            <a class="btn btn-primary btn-sm" href="/Games/Edit/{{id}}">Edit</a>
        </p>
    </script>
</div>
<p>
    <a asp-page="Index">Back to List</a>
</p>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/games/details.js"></script>
