﻿@page "{id:int}"

@{
    ViewData["Title"] = "Delete Team Season";
}

<h1>Team Season</h1>

<h4>Delete</h4>
<hr />
<div id="team-season">
    <h3>Are you sure you want to delete this?</h3>
    <script id="team-season-details" type="text/x-handlebars-template">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Team</label>
            </dt>
            <dd class="col-sm-10">
                {{teamName}}
            </dd>
            <dt class="col-sm-2">
                <label>Season</label>
            </dt>
            <dd class="col-sm-10">
                {{seasonYear}}
            </dd>
            <dt class="col-sm-2">
                <label>League</label>
            </dt>
            <dd class="col-sm-10">
                {{leagueName}}
            </dd>
        </dl>
    </script>
</div>

<form method="delete">
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-secondary" asp-page="Index">Cancel</a>
    </div>
</form>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/team-seasons-admin/delete.js"></script>
