﻿@page "{id:int}"

@{
    ViewData["Title"] = "Team Season";
}

<h1>@ViewData["Title"]</h1>

<h4>Details</h4>
<hr />
<div id="team-season">
    <script id="team-season-details" type="text/x-handlebars-template">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Team</label>
            </dt>
            <dd class="col-sm-10">
                {{teamName}}
            </dd>
            <dt class="col-sm-2">
                <label>Season</label>
            </dt>
            <dd class="col-sm-10">
                {{seasonYear}}
            </dd>
            <dt class="col-sm-2">
                <label>League</label>
            </dt>
            <dd class="col-sm-10">
                {{leagueName}}
            </dd>
        </dl>
        <p>
            <a class="btn btn-primary btn-sm" href="/TeamSeasonsAdmin/Edit/{{id}}">Edit</a>
        </p>
    </script>
</div>
<p>
    <a asp-page="Index">Back to List</a>
</p>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/team-seasons-admin/details.js"></script>
