﻿@page "{id:int}"

@{
    ViewData["Title"] = "Delete Team";
}

<h1>Team</h1>

<h4>Delete</h4>
<hr />
<div id="team">
    <h3>Are you sure you want to delete this?</h3>
    <script id="team-details" type="text/x-handlebars-template">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Name</label>
            </dt>
            <dd class="col-sm-10">
                {{name}}
            </dd>
        </dl>
    </script>
</div>

<form method="delete">
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-secondary" asp-page="Index">Cancel</a>
    </div>
</form>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/teams/delete.js"></script>
