﻿@page "{id:int}"

@{
    ViewData["Title"] = "Team";
}

<h1>@ViewData["Title"]</h1>

<h4>Details</h4>
<hr />
<div id="team">
    <script id="team-details" type="text/x-handlebars-template">
        <dl class="row">
            <dt class="col-sm-2">
                <label>Name</label>
            </dt>
            <dd class="col-sm-10">
                {{name}}
            </dd>
        </dl>
        <p>
            <a class="btn btn-primary btn-sm" href="/Teams/Edit/{{id}}">Edit</a>
        </p>
    </script>
</div>
<p>
    <a asp-page="Index">Back to List</a>
</p>

<script type="text/javascript" src="~/lib/handlebars/handlebars.js"></script>
<script type="module" src="~/js/view-modules/teams/details.js"></script>
